<h1><%= t('.title') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <% if @user.image? %>
      <%= image_tag @user.image.thumb.url, class: 'user-icon' %>
    <% else %>
      <%= image_pack_tag 'default.jpg', alt: "user-icon", size: "200", class: "user-icon" %>
    <% end %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :kop_history %>
    <%= f.number_field :kop_history %>年
  </div>

  <div class="form-group">
    <%= f.label :favorite_player %>
    <%= f.text_field :favorite_player, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

    <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>

    <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
  </div>

  <div class="form-group">
    <%= f.submit t('.update'), class: 'btn btn-primary w-100' %>
  </div>
<% end %>

<hr class="devise-link my-5">
  <div class="form-group">
    <%# リンク先URLは掲示板ページへのパス %>
    <%= link_to "トップページへ", tops_show_path, class: 'btn btn-info w-100 mb-4' %>
  </div>

  <div class="form-group">
    <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: {confirm: t('.are_you_sure')}, method: :delete, class: 'btn btn-danger w-100' %>
  </div>