<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <%= form_with model: tweet do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control', rows: 5 %>
        </div>
        <div class="form-group">
          <%= f.label :tweet_image %>
          <%= f.file_field :tweet_image, id: :preview, class: 'form-control mb-3', accept: 'image/*' %>
          <%= f.hidden_field :tweet_image_cache %>
          <p class="text-center"><%= image_tag tweet.tweet_image.url, class: 'tweet-img text-center', id: 'img_prev', size: '500' %></p>
        </div>
        <p><%= f.submit t('tweets.new.register_tweet'), class: 'btn btn-primary' %></p>
      <% end %>
    </div>
  </div>
</div>      