<div class="media text-muted pt-3">
  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <%= image_tag tweet.tweet_image.url, class: 'mr-2 rounded', alt: '' if tweet.tweet_image? %>
      <strong class="d-block text-gray-dark">投稿者:<%= link_to tweet.user.username, user_path(tweet.user), method: :get %></strong>    
      <%= link_to tweet.body, tweet_path(tweet.id)%>
      投稿日時:<%= l tweet.created_at, format: :long %>
      <% if current_user.own?(tweet) %>
        <%= render 'crud_menus', tweet: tweet %>
      <%# else %>
        <%# render 'bookmark_button', tweet: tweet %>  
      <% end %>
  </p>
</div>  
   
