<div class="media text-muted pt-3 border-bottom border-grey">
  <p class="media-body pb-3 mb-0 small lh-125">
    <%= link_to user_path(tweet.user), class: 'user-name', method: :get do %>
      <% if tweet.user.avatar? %>
        <%= image_tag tweet.user.avatar_url, class: 'rounded-circle', size: '50x50' %>
      <% else %>
        <%= image_pack_tag 'default.jpg', class: 'rounded-circle', size: '50x50' %>
      <% end %>
      <%= tweet.user.username %>
    <% end %>
  </p>  
  <%= link_to tweet_path(tweet.id), class: 'tweet-content', method: :get do %>
    <%= simple_format(tweet.body) %>
    <p><%= image_tag tweet.tweet_image.url, class: 'tweet-img', alt: '' if tweet.tweet_image? %></p>
  <% end %>        
  <i class="fas fa-calendar"></i>
  投稿日時:<%= l tweet.created_at, format: :long %>  
  <td class="action">
    <ul class="list-inline justify-content-center" style="float: right;">   
      <% if current_user.own?(tweet) %>
        <li class="list-inline-item">
          <p><%= render 'crud_menus', tweet: tweet %></p>
        </li>    
      <% end %>
    </ul>
  </td>    
  <%= render 'shared/bookmark_button', tweet: tweet %>
  <% if tweet.bookmarks.count != 0 %>
    <%= tweet.bookmarks.count %>
  <% end %> 
</div>  
   
