<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor) do %>
        <%= image_tag visitor.avatar_url.to_s, class: "dropdown-user-icon" %>
        <strong><%= visitor.username %></strong>
      <% end %>
      さんが
      <% case notification.action 
        when 'bookmark' then %>
          <%= link_to 'あなたの投稿', notification.tweet, style: "font-weight: bold;" %>にいいねしました
        <% when 'comment' then %>
        <% if notification.tweet.user_id == visited.id %>
          <%= link_to "あなたの投稿", notification.tweet, style: "font-weight: bold;" %>にコメントしました
          <p class="text-muted mb-0">
            <%= Comment.find_by(id: notification.comment_id)&.body %>
          </p>
        <% else %>
          <span>
            <%= link_to tweet_path(notification.tweet) do %>
              <%= image_tag notification.tweet.user.avatar_url.to_s, class: "dropdown-user-icon" %> 
              <strong><%= notification.tweet.user.username + 'さんの投稿' %></strong>
            <% end %>
            にコメントしました            
          </span>
          <p class="text-muted mb-0">
            <%= Comment.find_by(id: notification.comment_id)&.body %>
          </p>
        <% end %>
      <% end %>  
    </span>      
  </div>
    <div class="small text-muted text-right">
      <%= time_ago_in_words(notification.created_at).upcase %>
    </div>
    <hr />
</div>