<h1>Users#show</h1>
<p><%= User.human_attribute_name(:username) %> : <%= @user.username %></p>
<p><%= User.human_attribute_name(:email) %> : <%= @user.email %></p>
<p><%= User.human_attribute_name(:image) %> : <img src=<%= @user.image %> class = "profile_icon">
<p><%= User.human_attribute_name(:kop_history) %> : <%= @user.kop_history %>年</p>
<p><%= User.human_attribute_name(:favorite_player) %> : <%= @user.favorite_player %></p>
