<div class="container-fluid fixed-bottom py-2 footer text-center">
  <div class="row">
    <%= link_to tweets_path, class: 'col-3 text-white' do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to news_index_path, class: 'col-3 text-white' do %>
      <i class="fas fa-rss"></i> 
    <% end %> 
    <%= link_to liverpool_index_path, class: 'col-3' do %>
      <i><%= image_pack_tag 'logo.png', size: '23' %></i>  
    <% end %>
    <%= link_to notifications_path, class: 'col-3 text-white' do %>
      <% if unchecked_notifications.any? %>
        <span class="fa-stack position-relative">
          <i class="far fa-bell fa-lg"></i>
          <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-warning">
            <span class="notifications-count"><%= @notifications.count %></span>
            <span class="visually-hidden">unread messages</span>
          </span>
        </span>
      <% else %>
        <span class="fa-stack">
          <i class="far fa-bell fa-lg"></i>
        </span>  
      <% end %>
    <% end %>    
  </div>
</div>