<div class="media text-muted pt-3">
  <p class="media-body pb-3 mb-0 small lh-125">
    <%= link_to news.url do %>
      <% if news.urlToImage.present? %>
        <%= image_tag news.urlToImage, class: 'news-img' %>
      <% else %>
        <%= image_pack_tag "dammy-cover.png", class: 'news-img' %>
      <% end %>
      <p><%= truncate(news.title, omision: "...", length: 30) %></p>
      <p class="btn btn-secondary">詳しく見る &raquo;</p>
    <% end %>  
    <p><%= news.author %></p>
    <p><%= time_ago_in_words(news.publishedAt) %>前</p>
  </p>  
</div>

<hr class="featurette-divider">