<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>LiverpoolOne</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Favicon-->
    <%= favicon_pack_tag 'favicon.ico', rel: 'icon', type: 'image/x-icon' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless controller.devise_controller? %>
      <%= render 'shared/header' %>
    <% end %>
      
    <% if controller.devise_controller? %>
      <div class="container-fluid py-4 mw-md">
        <%= yield %>
      </div>
    <% else %>
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    <% end %>
  </body>
</html>
