<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>LiverpoolOne</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <!-- Favicon-->
        <%= favicon_pack_tag 'favicon.ico', rel: 'icon', type: 'image/x-icon' %>

        <%= stylesheet_pack_tag 'tops', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'tops/index', 'data-turbolinks-track': 'reload' %>
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Liverpool One</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Moment</a></li>
                        <li class="nav-item"><%= link_to 'サインアップ', new_user_registration_path, class: 'nav-link' %></li>
                        <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <p class="notice alert-success"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">You'll Never Walk Alone</h1>'
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">~ Walk on with hope in your heart.~</p>
                        <a class="btn btn-primary btn-xl" href="#about">Liverpool Oneとは？</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section liverpool" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Liverpool One</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Liverpoolを愛してやまない管理人が、Liverpoolファンの皆さんとコミュニティーを築き、ひとつになりたいという想いから誕生しました</p>
                        <a class="btn btn-light btn-xl" href="#services">詳しくはこちら</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Service</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-twitter fs-1 service-icon"></i></div>
                            <h3 class="h4 mb-2">ツイート</h3>
                            <p class="text-muted mb-0">リバプールについて様々な事をツイートしよう！</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-newspaper fs-1 service-icon"></i></div>
                            <h3 class="h4 mb-2">ニュース</h3>
                            <p class="text-muted mb-0">世界中のサッカーニュースが見られます</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 service-icon"></i></div>
                            <h3 class="h4 mb-2">試合日程</h3>
                            <p class="text-muted mb-0">リバプールの順位表、試合日程をリアルタイムで見られます</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 service-icon"></i></div>
                            <h3 class="h4 mb-2">フォロー機能</h3>
                            <p class="text-muted mb-0">お気に入りのツイートに「いいね！」しよう！</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Moment-->
        <div id="portfolio">
            <div class="container-fluid px-0 pt-5 liverpool">
                <div class="row gx-0 gt-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Moment</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">開発者のお気に入りシーン</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <%= link_to asset_pack_path('media/images/portfolio/fullsize/gerrard.jpg'), class: 'portfolio-box', title: 'Steavie G 🔥 トーレスとのコンビが最高でした' do %>
                            <%= image_pack_tag 'portfolio/thumbnails/gerrard.jpg', class: 'portfolio-img', alt: '...' %>
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">アイドル</div>
                                <div class="project-name">Steavie G 🔥 トーレスとのコンビが最高でした</div>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <%= link_to asset_pack_path('media/images/portfolio/fullsize/hendo.gerrard.jpg'), class: 'portfolio-box', title: '歴史の移り変わり' do %>
                            <%= image_pack_tag 'portfolio/thumbnails/hendo.gerrard.jpg', class: 'portfolio-img', alt: '...' %>
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">世代交代</div>
                                <div class="project-name">歴史の移り変わり©️</div>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <%= link_to asset_pack_path('media/images/portfolio/fullsize/1.jpg'), class: 'portfolio-box', title: '針の穴を通す右足' do %>
                            <%= image_pack_tag 'portfolio/thumbnails/1.jpg', class: 'portfolio-img', alt: '...' %>
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">トレント・アレクサンダー＝アーノルド</div>
                                <div class="project-name">針の穴を通す右足🦵</div>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <%= link_to asset_pack_path('media/images/portfolio/fullsize/4.jpg'), class: 'portfolio-box', title: '20-21シーズン、チームを3位に導く劇的決勝弾' do %>
                            <%= image_pack_tag 'portfolio/thumbnails/4.jpg', class: 'portfolio-img', alt: '...' %>
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">アリソン</div>
                                <div class="project-name">20-21シーズン、チームを3位に導く劇的決勝弾⚽️</div>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <%= link_to asset_pack_path('media/images/portfolio/fullsize/5.jpg'), class: 'portfolio-box', title: 'ヘンダーソン、嵐の果てのCL優勝' do %>
                            <%= image_pack_tag 'portfolio/thumbnails/5.jpg', class: 'portfolio-img', alt: '...' %>
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">ヘンダーソン</div>
                                <div class="project-name">ヘンダーソン、嵐の果てのCL優勝🏆</div>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <%= link_to asset_pack_path('media/images/portfolio/fullsize/6.jpg'), class: 'portfolio-box', title: '要塞「アンフィールド」' do %>
                            <%= image_pack_tag 'portfolio/thumbnails/6.jpg', class: 'portfolio-img', alt: '...' %>
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">アンフィールド</div>
                                <div class="project-name">要塞「アンフィールド」🏟</div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">会員登録をして、あなたも参加しよう！</h2>
                <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-liverpool btn-xl' %>
            </div>
        </section>
        <!-- Footer-->
        <footer class="liverpool py-5">
            <div class="container px-4 px-lg-5">
                <div class="small text-center text-white">Copyright &copy; 2022 - Liverpool One</div>
                <div class="row">
                    <div class="col-6 small">
                        <%= link_to '利用規約', page_path('terms'), class: 'link' %>
                    </div>
                    <div class="col-6 small" style="text-align:right">
                        <%= link_to 'プライバシーポリシー', page_path('privacypolicy'), class: 'link' %>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
